/* Welcome to the css file */
/* Removing initial formatting with wildcard selector */
* {
    margin: 0;
    padding: 0;
    border: none;
}
/* Setting basic page style and font stlye */
body {
	background-color: #000000;
	color: #ffffff;
	font-family: Palatino, Georgia, serif;
	font-size: 75%;
}
a {
	text-decoration: none;
	color: inherit;
}
/* Styling and positioning the header elements */
header {
	position: fixed;
	top: 0;
	width: 100vw;
	background-color: rgba(0,0,0,0.50);
	text-align: center;
	color: inherit;
	z-index: 1;
}
/* Styling and positioning h1 page logo */
h1, h2, h3 {
	color: #ff0000;
	font-weight: inherit;
	padding-top: 10px;
	padding-bottom: 10px;
}
em {
	color: #888888;
}
/* Styling and positioning navigation links */
nav {
	letter-spacing: 4px;
	word-spacing: 4px;
	padding-top: 5px;
	padding-bottom: 10px;
	line-height: 200%;
}
/* Styling for additional navigation bar in gallery pages */
#gallery-nav-bar {
	display: none;
	color: #888888;
	word-spacing: 7px;
	padding-bottom: 10px;
}
/* Appling style to links when hovered over */
nav a:hover {
	color: #ff0000;
	border-bottom: 1px solid #990000;
}
/* Appling style to links that are marked with the class 'active-link' */
.active-link {
	color: #ff0000;
}
/* Formatting the background image for div container on index page */
#index-background {
	background-image: url('../images/background-image-church.webp');
	background-position: center 20%;
	background-size: cover;
	height: 100vh;
}
/* Styling/positioning index page's description box */
#tagline-box {
	position: absolute;
	bottom: 40%;
	width: 200px;
	text-align: left;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: rgba(0,0,0,0.50);
	padding: 25px;
}
/* Footer Section style and positioning */
footer {
	background-color: rgba(0,0,0,0.50);
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
/* Font formatting for fontawesome icons */
#social-links {
	color: #ff0000;
	font-size: 250%;
	word-spacing: 10px;
	padding-bottom: 10px;
}
/* Styling and positioning Gallery thumnail grid */
.thumbnail-wrap {
	margin-top: 200px;
	margin-bottom: 0;
	height: 100vh;
	text-align: center;
	position:relative;
}
.thumbnail {
	display: inline-block;
	position:relative;
	width: 300px;
	height: 50px;
	background-color: #888888;
	line-height: 200px;
	margin: auto;
	overflow: hidden;
}
.thumbnail img {	
	opacity: 0.5;
	width: 300px;
	height: 200px;
}
.thumbnail img:hover {
	opacity: 1;
}
.thumbnail-overlay {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: normal;
	background-color: rgba(0,0,0,0.60);
	padding: 5px;
}
/* Styling and positioning for gallery images when viewed in own page */
.gallery-container {
	text-align: center;
	height: 100vh;
	width: 100vw;
}
.picture-frame {
	display: inline-block;
	margin-top: 150px;
	width: 90%;
}
.picture-frame img{
	width: 100%;
}
.gallery-text {
	padding: 10px 5%;
	text-align: left;
	color: #888888;
	padding-bottom: 150px;
}
/* Styling and positioning the contact form elements */
#contact-form-container {
	width: 100vw;
	margin-top: 110px;
	margin-bottom: 90px;
	text-align: center;
	line-height: 180%;
}
#contact-form {
	display: inline-block;
	width: 250px;
	text-align: left;	
}
#name, #email, #subject {
	width: 240px;
	padding: 5px;
}
textarea {
	width: 240px;
	height: 140px;
	padding: 5px;
	resize: none;
}
#contact-form-button-wrap {
	width: 100%;
	text-align: right;
}
#submit {
	display: inline-block;
	padding: 5px;
	border: 1px solid #ff0000;
	background-color: #000000;
	color: #ff0000;
	font-size: 100%;
	border-radius: 5px;
}
/* setting a flex grid for about section */
/* learning from https://www.taniarascia.com/easiest-flex-grid-ever/ */
#about-section {
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#portrait {
	text-align: center;
	flex-basis: 100%;
	padding-top: 50px;
	color: #888888;
}
#portrait img {
	width: 80%;
	padding-bottom: 10px;
}
#about-text {
	line-height: 200%;
	padding: 50px;
	flex-basis: 100%;
}
/* Media Queries Section */
/* Styling and positioning edits for phone size ref. 'Galaxy 8+' 300x740 */
@media screen and (min-width: 300px) {
	.picture-frame video {
		width: 290px;
		height: 163px;
	}
}
/* Styling and positioning edits for phone size ref. 'iphone SE' 375x667 */
@media screen and (min-width: 375px) {
		body {
		font-size: 110%;
	}
	nav {
		line-height: 100%;
	}
	nav br {
		display: none;
	}
	#copyright-text br {
		display: none;
	}
	#gallery-nav-bar br {
		display: none;
	}
	#gallery-nav-bar {
		display: contents;
	}
	.thumbnail-wrap {
		margin-top: 200px;
		margin-bottom: 300px;
	}
	.thumbnail {
		height: 200px;
		width: 300px;
	}
	.picture-frame {
		margin-top: 150px;
	}
	#contact-form-container {
		margin-top: 110px;
	}
	.picture-frame video {
		width: 340px;
		height: 191px;
	}
	#contact-form-container {
		margin-top: 180px;
	}
	.thumbnail-wrap {
		margin-top: 150px;
	}
	.picture-frame {
		margin-top: 150px;
	}
}
/* Styling and positioning edits for tablet size ref. 'Surface Duo' 540x720 */
@media screen and (min-width: 530px) {
	.picture-frame video {
		width: 500px;
		height: 281px;
	}
}
/* Styling and positioning edits for tablet size ref. 'ipad mini' 768x1024 */
@media screen and (min-width: 768px) {
	#tagline-box {
		bottom: 72%;
		left: 12%;
		transform: translate(0, 0);
	}
	.thumbnail-wrap {
		width: 700px;
		margin-left: 50%;
		margin-top: 200px;
		height: 500px;
		transform: translate(-50%, 0);
	}
		.thumbnail {
		margin: 10px;
}
	.picture-frame video {
		width: 700px;
		height: 394px;
	}
}
/* Styling and positioning edits for tablet size ref. 'Nest Hub' 1024x600 */
@media screen and (min-width: 1000px) and (min-height: 600px) {
	#tagline-box {
		bottom: 65%;
	}
		.thumbnail {
		margin: 10px;
}
	#contact-form-container {
		margin-top: 110px;
	}
}
/* Styling and positioning edits for desktop sizes */	
@media screen and (min-width: 1200px) {
	#tagline-box {
		bottom: 72%;
		left: 12%;	
	}
	.thumbnail-wrap {
		width: 700px;
		margin-left: 50%;
		transform: translate(-50%, 0);
		margin-top: 12%;		
	}
	.thumbnail {
		margin: 10px;
	}
	.picture-frame {
		width: 1000px;
	}
	#contact-form-container {
		margin-top: 110px;
	}
	.picture-frame video{
		width: 1000px;
		height: 563px;
	}
}
/*media query for flex grid */
/* learning from https://www.taniarascia.com/easiest-flex-grid-ever/ */	
@media screen and (min-width: 1500px) {
	#portrait {
    flex: 3.5;
  }
	#about-text {
    flex: 6.5;
  }
}