* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
	background-color: #000000;
	color: #ffffff;
	font-family: Palatino, Georgia, serif;
	
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	text-align: center;
	color: inherit;
	font-weight: lighter;
}

header h1 {
	color: #990000;
	font-weight: inherit;
	padding-top: 5px;
	padding-bottom: 5px;
}

nav {
	letter-spacing: 4px;
	word-spacing: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.active-link {
	color: #990000;
}

#index-background {
	background-image: url('../images/church.jpg');
	background-position: center 20%;
	background-size: cover;
	height: 100vh;
}