* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
	color: #ffffff;
	background-color: #000000;
	font-family: Palatino, Georgia, serif;
	
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	text-align:center;
	color: inherit;
	letter-spacing: 4px;
	font-weight: lighter;
}

header h1 {
	color: #790000;
	font-weight: inherit;
}

.active-link {
	color: #790000;
}